Repository enigma-dev/enigma-dev, pull requests merged in 2018-06, with the labels that each got.

#1267 Fix Proto2ES Image Loading
  CommandLine/emake/Proto2ES.cpp
Labels: Asset Pipeline, Graphics

#1269 Fix Proto2ES Zlib Compression
  CommandLine/emake/Proto2ES.cpp
Labels: Asset Pipeline

#1270 Fix Data Structure Shuffle Functions
  ENIGMAsystem/SHELL/SHELLmain.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/DataStructures/data_structures.cpp
  ENIGMAsystem/SHELL/Universal_System/mathnc.cpp
  ENIGMAsystem/SHELL/Universal_System/mathnc.h
  ENIGMAsystem/SHELL/Universal_System/random.cpp
  ENIGMAsystem/SHELL/Universal_System/random.h
Labels: Extensions, Universal System

#1273 Overloads for String Functions
  ENIGMAsystem/SHELL/Platforms/Android/AndroidWindow.cpp
  ENIGMAsystem/SHELL/Platforms/Cocoa/CocoaWindow.cpp
  ENIGMAsystem/SHELL/Platforms/General/PFwindow.h
  ENIGMAsystem/SHELL/Platforms/None/fillin.cpp
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWSwindow.cpp
  ENIGMAsystem/SHELL/Platforms/iPhone/CocoaWindow.cpp
  ENIGMAsystem/SHELL/Platforms/xlib/XLIBwindow.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/BulletDynamics/BulletRigidBody.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/BulletDynamics/BulletShape.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/BulletDynamics/BulletSoftBody.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/BulletDynamics/BulletWorld.h
  ENIGMAsystem/SHELL/Universal_System/background_internal.h
  ENIGMAsystem/SHELL/Widget_Systems/General/WSdialogs.h
  ENIGMAsystem/SHELL/Widget_Systems/None/nowidget_impl.cpp
  ENIGMAsystem/SHELL/Widget_Systems/Win32/dialogs.cpp
  ENIGMAsystem/SHELL/Widget_Systems/widgets_mandatory.h
Labels: Platforms, Widgets

#1277 TFD now supports double quotes in strings
  ENIGMAsystem/SHELL/Widget_Systems/TinyFileDialogs/dialogs.cpp
Labels: Widgets

#1278 Cumpule
  CompilerSource/compiler/compile.cpp
  CompilerSource/gcc_interface/gcc_backend.cpp
  CompilerSource/gcc_interface/gcc_backend.h
  CompilerSource/general/bettersystem.h
  CompilerSource/general/macro_integration.h
  CompilerSource/makedir.h
  CompilerSource/settings-parse/crawler.cpp
  CompilerSource/settings-parse/parse_ide_settings.cpp
  CompilerSource/settings.cpp
  CompilerSource/settings.h
  CompilerSource/utility.h
  Compilers/Linux/Android.ey
  Compilers/Linux/AndroidSym.ey
  Compilers/Linux/AppleCross64.ey
  Compilers/Linux/MinGW32.ey
  Compilers/Linux/MinGW64.ey
  Compilers/Linux/TestHarness.ey
  Compilers/Linux/clang.ey
  Compilers/Linux/clang32.ey
  Compilers/Linux/gcc.ey
  Compilers/Linux/gcc32.ey
  Compilers/MacOSX/Android.ey
  Compilers/MacOSX/clang.ey
  Compilers/MacOSX/gcc-mingw32-intel.ey
  Compilers/MacOSX/gcc.ey
  Compilers/MacOSX/iPhone.ey
  Compilers/Windows/gcc.ey
  shared/eyaml/eyaml.h
Labels: Compile, Compiler, Cross-compile

#1287 Fix Game Icon For Win32
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWSmain.cpp
Labels: Platforms
