Repository enigma-dev/enigma-dev, pull requests merged in 2018-07, with the labels that each got.

#1302 more mouse fixes
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Platforms/SDL/Window.cpp
Labels: Bridges, Graphics, Input, Platforms

#1299 Regression Testing Support
  .travis.yml
  CommandLine/testing/GitHub-ImageDiff.sh
  CommandLine/testing/Makefile
  CommandLine/testing/Platform/TestHarness-X11.cpp
  CommandLine/testing/Platform/Utility-X11.cpp
  CommandLine/testing/TestHarness.hpp
  CommandLine/testing/Tests/draw_test.cpp
  CommandLine/testing/Tests/draw_test.sog/draw.edl
  CommandLine/testing/Tests/window_test.cpp
  CommandLine/testing/Utility.hpp
  CommandLine/testing/main.cpp
  ci-regression.sh
Labels: Continuous Integration, Graphics

#1306 Regression Tests Fix
  CommandLine/testing/main.cpp
Labels: Confirmed, Continuous Integration

#1305 Image Comparisons for Graphics Regression Testing
  .travis.yml
  CommandLine/testing/GitHub-ImageDiff.sh
  CommandLine/testing/Tests/draw_test.cpp
  CommandLine/testing/main.cpp
Labels: Continuous Integration, Graphics

#1290 Fix Microsecond Performance Timer
  CommandLine/testing/Platform/TestHarness-X11.cpp
  CommandLine/testing/TestHarness.hpp
  CommandLine/testing/Tests/window_test.cpp
  CommandLine/testing/Tests/window_test.sog/create.edl
  CommandLine/testing/main.cpp
  ENIGMAsystem/SHELL/Platforms/General/PFmain.cpp
  ENIGMAsystem/SHELL/Platforms/General/PFmain.h
  ENIGMAsystem/SHELL/Platforms/General/POSIX/Utility.cpp
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWSmain.cpp
Labels: Continuous Integration, Platforms

#1313 Continuous Integration Workdir/Codegen Fix
  CommandLine/testing/Platform/TestHarness-X11.cpp
Labels: Continuous Integration

#1319 Fix Code Coverage For Regression Tests
  .travis.yml
  CommandLine/testing/main.cpp
  ci-regression.sh
Labels: Continuous Integration

#1323 Draw Tiles Regression Test
  .travis.yml
  CommandLine/testing/GitHub-ImageDiff.sh
  CommandLine/testing/Makefile
  CommandLine/testing/TestHarness.hpp
  CommandLine/testing/Tests/draw_tiles_test.cpp
  CommandLine/testing/Tests/draw_tiles_test.sog/create.edl
  CommandLine/testing/data/hugar.png
  CommandLine/testing/main.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSstdraw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLTextureStruct.cpp
  ci-regression.sh
Labels: Continuous Integration, Graphics

#1238 Generic Tileset Batching Using Vertex Buffer Abstraction
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11tiles.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/include.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9ModelStruct.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9model.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9tiles.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9vertex.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/include.h
  ENIGMAsystem/SHELL/Graphics_Systems/General/DXtilestruct.h
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSbackground.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GScolors.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GScurves.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSfont.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSscreen.h
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSsprite.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSsprite.h
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSstdraw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSstdraw.h
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSsurface.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSsurface.h
  ENIGMAsystem/SHELL/Graphics_Systems/General/GStextures.h
  ENIGMAsystem/SHELL/Graphics_Systems/General/GStiles.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GStilestruct.h
  ENIGMAsystem/SHELL/Graphics_Systems/None/NONEtiles.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLmodel.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLvertex.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/include.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3tiles.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/include.h
  ENIGMAsystem/SHELL/Universal_System/depth_draw.cpp
  ENIGMAsystem/SHELL/Universal_System/depth_draw.h
  ENIGMAsystem/SHELL/Universal_System/roomsystem.h
Labels: Graphics

#1311 Generic Screen Redraw
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11profiler.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11profiler.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9profiler.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9profiler.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSd3d.h
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSscreen.h
  ENIGMAsystem/SHELL/Graphics_Systems/None/NONEd3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/None/NONEscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLd3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLprofiler.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLprofiler.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLESscreen.cpp
Labels: Graphics

#1335 Array Tests & Improvements
  CommandLine/testing/SimpleTests/math_test.sog/create.edl
  ENIGMAsystem/SHELL/Universal_System/var4.cpp
  ENIGMAsystem/SHELL/Universal_System/var4.h
  ENIGMAsystem/SHELL/Universal_System/var_array.cpp
  ENIGMAsystem/SHELL/Universal_System/var_array.h
Labels: Continuous Integration, Universal System

#1303 Basic Direct3D11 Vertex Processing
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D11.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11textures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11vertex.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/Makefile
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9screen.cpp
Labels: Graphics

#1338 Remove Room Caption/Mouse Update From Bridges
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL1/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL3/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D11.cpp
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D9.cpp
  ENIGMAsystem/SHELL/Bridges/None-None/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/xlib-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Platforms/General/PFmain.cpp
Labels: Bridges, Platforms, Universal System

#1339 Use General Include for None Graphics System
  ENIGMAsystem/SHELL/Graphics_Systems/None/include.h
Labels: Graphics

#1340 OpenGL Bridges Cleanup and Fixes
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL1/Makefile
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL3/Makefile
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL1/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL3/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/xlib-OpenGL/graphics_bridge.cpp
Labels: Bridges, Graphics
