Repository enigma-dev/enigma-dev, pull requests merged in 2019-07, with the labels that each got.

#1781 Enable INI Extension by Default
  ENIGMAsystem/SHELL/Universal_System/Extensions/IniFilesystem/About.ey
Labels: Extensions

#1784 GM81 libegm Clear View Fix
  CommandLine/libEGM/gmk.cpp
Labels: Asset Pipeline, Bug, Reproducible

#1789 INI Extension Fail Fast
  ENIGMAsystem/SHELL/Platforms/General/include.h
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWSfilemanip.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/IniFilesystem/PFini.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/IniFilesystem/UNIXinifs.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/IniFilesystem/WINDOWSinifs.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/IniFilesystem/include.h
Labels: Extensions, Platforms, Universal System

#1793 Fix SHELL Auxiliary Copyright
  ENIGMAsystem/SHELL/auxilary.h
Labels: Documentation

#1792 New ci
  .travis.yml
  CI/build_and_run_game.sh
  CI/install_emake_deps.sh
  CI/solve_engine_deps.sh
  CI/split_jobs.sh
  CommandLine/emake/Main.cpp
  CommandLine/emake/OptionsParser.cpp
  CommandLine/testing/SimpleTests/clean_exit.sog/step.edl
  Compilers/Linux/gcc.ey
  Compilers/Linux/gcc32.ey
  Compilers/Windows/gcc.ey
  ENIGMAsystem/SHELL/Makefile
  ENIGMAsystem/SHELL/Universal_System/Extensions/BasicGUI/elements.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/MediaControlInterface/Makefile
  ENIGMAsystem/SHELL/Universal_System/Extensions/XInput/XIgamepad.cpp
  ENIGMAsystem/SHELL/Widget_Systems/None/nowidget_impl.cpp
  ci-build.sh
  ci-regression.sh
  share_logs.sh
Labels: Golden Ratio

#1794 Delete GL3 "aux" Files
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/aux.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/aux.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/std.cpp
Labels: Confirmed, Graphics, Reproducible, Windows

#1767 AssetArray ADT for Resource Storage
  ENIGMAsystem/SHELL/Audio_Systems/DirectSound/DSbasic.cpp
  ENIGMAsystem/SHELL/Audio_Systems/DirectSound/DSsystem.cpp
  ENIGMAsystem/SHELL/Audio_Systems/DirectSound/DSsystem.h
  ENIGMAsystem/SHELL/Audio_Systems/DirectSound/SoundResource.h
  ENIGMAsystem/SHELL/Universal_System/Resources/AssetArray.h
  ENIGMAsystem/SHELL/Universal_System/bufferstruct.cpp
Labels: Audio, Experimental, Feedback Needed, Universal System

#1800 AssetArray Move Fixes
  ENIGMAsystem/SHELL/Audio_Systems/DirectSound/DSsystem.cpp
  ENIGMAsystem/SHELL/Audio_Systems/DirectSound/SoundResource.h
  ENIGMAsystem/SHELL/Universal_System/Resources/AssetArray.h
Labels: Audio, Bug, Crash

#1806 Async Extension Copyright Fix
  ENIGMAsystem/SHELL/Universal_System/Extensions/Asynchronous/ASYNCdialog.cpp
Labels: Documentation, Extensions

#1805 Virtual Keys Extension
  ENIGMAsystem/SHELL/Audio_Systems/DirectSound/SoundResource.h
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/graphics_mandatory.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/VirtualKeys/About.ey
  ENIGMAsystem/SHELL/Universal_System/Extensions/VirtualKeys/Makefile
  ENIGMAsystem/SHELL/Universal_System/Extensions/VirtualKeys/VirtualKey.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/VirtualKeys/include.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/VirtualKeys/virtualkeys.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/VirtualKeys/virtualkeys.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/VirtualKeys/virtualkeyslogo.png
  ENIGMAsystem/SHELL/Universal_System/Resources/AssetArray.h
Labels: Compatibility, Extensions, Graphics, Input, Platforms

#1809 AssetArray for Graphics Model
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSmodel.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSmodel_impl.h
Labels: Graphics, Universal System

#1814 Asset Exists Iterator
  ENIGMAsystem/SHELL/Universal_System/Extensions/VirtualKeys/virtualkeys.cpp
  ENIGMAsystem/SHELL/Universal_System/Resources/AssetArray.h
Labels: Universal System

#1815 Empty Asset Array Iterator Fix
  ENIGMAsystem/SHELL/Universal_System/Resources/AssetArray.h
Labels: Bug, Crash, Reproducible, Universal System

#1816 DirectSound Asset Exists False Positive Fix
  ENIGMAsystem/SHELL/Audio_Systems/DirectSound/DSbasic.cpp
Labels: Audio, Crash, Error, Reproducible

#1818 Fix New CI Test Harness Coverage
  CI/solve_engine_deps.sh
Labels: Continuous Integration, Dependencies, Install

#1819 Draw Button Winding Order
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSstdraw.cpp
Labels: Bug, Graphics, Reproducible

#1821 String Constructor Logical Equality Test
  CommandLine/testing/SimpleTests/string_test.sog/create.edl
Labels: Continuous Integration, Strings

#1824 Win32 Mouse Capture
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWScallback.cpp
Labels: Bug, Compatibility, Platforms, Reproducible

#1825 SDL Mouse Capture
  ENIGMAsystem/SHELL/Platforms/SDL/Event.cpp
Labels: Bug, Compatibility, Platforms, Reproducible

#1832 Mouse Clear Fix
  ENIGMAsystem/SHELL/Platforms/General/PFwindow.cpp
Labels: Bug, Confirmed, Input, Platforms, Reproducible

#1837 FreeType2 Extension Static Linking
  ENIGMAsystem/SHELL/Universal_System/Extensions/ttf/Makefile
  ENIGMAsystem/SHELL/Universal_System/Extensions/ttf/include.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/ttf/ttf.cpp
Labels: Extensions, Graphics, Reproducible

#1836 Virtual Keys Pressed/Released Tweak
  ENIGMAsystem/SHELL/Universal_System/Extensions/VirtualKeys/virtualkeys.cpp
Labels: Compatibility, Extensions, Input

#1838 Vertex Prepare Dirty Exit
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11vertex.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9vertex.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL-Common/vertex.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/vertex.cpp
Labels: Graphics
