Repository enigma-dev/enigma-dev, pull requests merged in 2019-04, with the labels that each got.

#1644 Improve `var` speed.
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSmatrix.cpp
  ENIGMAsystem/SHELL/Universal_System/lua_table.h
  ENIGMAsystem/SHELL/Universal_System/var4.cpp
  ENIGMAsystem/SHELL/Universal_System/var4.h
  ENIGMAsystem/SHELL/Universal_System/var4_lua.cpp
Labels: Sub-optimal, Universal System

#1670 Format Win32-Direct3D9 Bridge
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D9.cpp
Labels: Bridges, Graphics

#1671 Remove Obsolete GLU
  .travis.yml
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11draw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9draw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSstdraw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSstdraw.h
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLd3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLstdraw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/Makefile
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3stdraw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/Makefile
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLESstdraw.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/GM5Compat/GM5Drawing.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/GM5Compat/GM5Drawing.h
Labels: Dependencies, Graphics

#1669 Nonsense
  CompilerSource/JDI/src/API/AST.cpp
  CompilerSource/JDI/src/Parser/handlers/handle_templates.cpp
  CompilerSource/JDI/src/Parser/readers/read_type.cpp
  CompilerSource/compiler/jdi_utility.cpp
  CompilerSource/gcc_interface/gcc_backend.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSfont.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSmodel.h
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSprimitives.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSprimitives.h
  ENIGMAsystem/SHELL/Mock_JDI_Headers/string
  ENIGMAsystem/SHELL/Platforms/platforms_mandatory.h
  ENIGMAsystem/SHELL/Universal_System/fonts.h
  ENIGMAsystem/SHELL/Universal_System/mathnc.h
Labels: Compiler

#1446 Linux Pollution Cleanup & Time Test
  .travis.yml
  CommandLine/testing/SimpleTests/math_test.sog/create.edl
  ENIGMAsystem/SHELL/Platforms/xlib/XLIBwindow.cpp
  ENIGMAsystem/SHELL/Platforms/xlib/XLIBwindow.h
  ENIGMAsystem/SHELL/Platforms/xlib/include.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/MotionPlanning/motion_planning_struct.h
  ENIGMAsystem/SHELL/Universal_System/sprites_internal.h
Labels: Compiler, Error, Experimental, Linux

#1679 Fix Scope of Event Functions
  ENIGMAsystem/SHELL/Universal_System/actions.h
Labels: Compile Error, Objects

#1684 Generic Platforms Include
  ENIGMAsystem/SHELL/Platforms/Android/include.h
  ENIGMAsystem/SHELL/Platforms/Cocoa/include.h
  ENIGMAsystem/SHELL/Platforms/General/PFjoystick.h
  ENIGMAsystem/SHELL/Platforms/General/include.h
  ENIGMAsystem/SHELL/Platforms/None/fillin.cpp
  ENIGMAsystem/SHELL/Platforms/None/include.h
  ENIGMAsystem/SHELL/Platforms/SDL/include.h
  ENIGMAsystem/SHELL/Platforms/Win32/include.h
  ENIGMAsystem/SHELL/Platforms/iPhone/include.h
  ENIGMAsystem/SHELL/Platforms/xlib/include.h
Labels: Platforms

#1683 Remove Texture State Functions From Backends
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11textures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GStextures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GStextures.h
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLtextures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3textures.cpp
Labels: Graphics

#1682 Fix Math Clamp
  CommandLine/testing/SimpleTests/math_test.sog/create.edl
  ENIGMAsystem/SHELL/Platforms/General/PFmain.cpp
  ENIGMAsystem/SHELL/Platforms/General/PFmain.h
  ENIGMAsystem/SHELL/Platforms/General/POSIX/Utility.cpp
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWSmain.cpp
  ENIGMAsystem/SHELL/Universal_System/mathnc.h
Labels: Continuous Integration, Feedback Needed, Universal System

#1685 Deduplicate Platform Graphics Bridges
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL1/Makefile
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL3/Makefile
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL3/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-Direct3D11/Makefile
  ENIGMAsystem/SHELL/Bridges/SDL-Direct3D9/Makefile
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL1/Makefile
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL1/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL3/Makefile
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL3/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Win32-Direct3D11/Makefile
  ENIGMAsystem/SHELL/Bridges/Win32-Direct3D11/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Win32-Direct3D9/Makefile
  ENIGMAsystem/SHELL/Bridges/Win32-Direct3D9/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL1/Makefile
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL1/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL3/Makefile
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL3/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL/OpenGLHeaders.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/OPENGLStd.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/OPENGL3Std.cpp
Labels: Bridges, Graphics

#1687 Fix Direct3D9 Fog Color
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSd3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSd3d.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLd3d.cpp
Labels: Bug, Graphics

#1688 Fix Ambient Lighting Color
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSd3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSd3d.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLd3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3d3d.cpp
Labels: Bug, Graphics

#1690 Delete Obsolete GLES
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLESbackground.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLESblend.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLEScolors.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLEScurves.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLESd3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLESfont.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLESscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLESsprite.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLESspriteadd.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLESstdraw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLESsurface.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/GLEStextures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/Info/About.ey
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/Info/graphics_info.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/Makefile
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/OPENGLStd.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/OPENGLStd.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/OpenGLHeaders.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGLES/include.h
Labels: Graphics

#1692 Centralize Glew Init
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL/Makefile
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL1/Makefile
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL3/Makefile
  ENIGMAsystem/SHELL/Bridges/OpenGL/GLload.cpp
  ENIGMAsystem/SHELL/Bridges/OpenGL/GLload.h
  ENIGMAsystem/SHELL/Bridges/OpenGL/Makefile
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL/Makefile
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL1/Makefile
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL3/Makefile
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL/Makefile
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL1/Makefile
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL3/Makefile
  ENIGMAsystem/SHELL/Bridges/xlib-OpenGL/Makefile
  ENIGMAsystem/SHELL/Bridges/xlib-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/xlib-OpenGL1/Makefile
  ENIGMAsystem/SHELL/Bridges/xlib-OpenGL3/Makefile
Labels: Bridges, Graphics

#1693 Fix OpenGL Multisampling FBO For Xlib/Non-WGL
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/xlib-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL/GLscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL/GLscreen.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL/Makefile
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/Makefile
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/OPENGLStd.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/Makefile
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/OPENGL3Std.cpp
Labels: Bridges, Graphics, Linux
