Repository enigma-dev/enigma-dev, pull requests merged in 2019-06, with the labels that each got.

#1742 fix filename_ext when period in path to file
  CommandLine/testing/SimpleTests/file_input_output.sog/create.edl
  ENIGMAsystem/SHELL/Universal_System/estring.cpp
Labels: Continuous Integration, Universal System

#1744 Fix Empty Keyboard String Crashes
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWScallback.cpp
  ENIGMAsystem/SHELL/Platforms/xlib/XLIBmain.cpp
Labels: Crash, Input, Platforms

#1747 Fix Declaration Parsing Loop
  CompilerSource/parser/collect_variables.cpp
Labels: Compiler

#1753 Fix Random Signed Overflow
  ENIGMAsystem/SHELL/Universal_System/random.cpp
Labels: Error, Reproducible, Universal System

#1754 Anonymize Cached Win32 Window Caption
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWSwindow.cpp
  ENIGMAsystem/SHELL/Universal_System/roomsystem.cpp
  ENIGMAsystem/SHELL/Universal_System/roomsystem.h
Labels: Platforms, Sub-optimal, Universal System

#1675 [Windows] Add function execute_shell_for_output()
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWSmain.cpp
Labels: Platforms

#1759 Path Extension Disabling Fix
  ENIGMAsystem/SHELL/Universal_System/Makefile
Labels: Experimental, Extensions, Universal System
