Repository enigma-dev/enigma-dev, pull requests merged in 2019-03, with the labels that each got.

#1559 Fix GL1 Fallback for Index Buffers
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLvertex.cpp
Labels: Graphics

#1560 Fix GL1 VBO Fallback Aliasing
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLvertex.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/OPENGLStd.cpp
Labels: Graphics

#1561 Deprecate And Remove DX11 Context Manager
  ENIGMAsystem/SHELL/Bridges/General/DX11Context.h
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D11.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11background.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11blend.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11colors.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11draw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11shader.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11sprite.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11surface.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11textures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11vertex.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/Direct3D11Headers.h
Labels: Graphics

#1562 Deprecate And Remove GL3 Context Manager
  ENIGMAsystem/SHELL/Bridges/General/GL3Context.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3colors.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3profiler.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3profiler.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3shader.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3stdraw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3surface.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3textures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3vertex.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/OPENGL3Std.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/OPENGL3Std.h
Labels: Graphics

#1563 Cleanup And Delete DX9 Context Manager Garbage
  ENIGMAsystem/SHELL/Bridges/General/DX9Context.h
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D9.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DIRECTX9Std.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9TextureStruct.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9background.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9blend.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9colors.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9draw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9shader.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9sprite.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9surface.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9textures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9vertex.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/Direct3D9Headers.h
Labels: Graphics

#1567 Cleanup Direct3D11 Warnings
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DIRECTX11Std.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DIRECTX11Std.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11SurfaceStruct.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11background.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11draw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11sprite.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11surface.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11textures.cpp
Labels: Graphics, Warning

#1566 Cleanup OpenGL3 Warnings
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3shader.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3textures.cpp
Labels: Graphics, Warning

#1565 Cleanup Direct3D9 Warnings
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DIRECTX9Std.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DIRECTX9Std.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9SurfaceStruct.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9background.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9colors.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9draw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9sprite.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9surface.cpp
Labels: Graphics, Warning

#1564 Cleanup OpenGL1 Warnings
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/OPENGLStd.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/OPENGLStd.h
Labels: Graphics, Warning

#1574 Cleanup OpenAL Warnings
  ENIGMAsystem/SHELL/Audio_Systems/OpenAL/ALadvanced.cpp
Labels: Audio, Warning

#1571 Fix Hidden & Depth Writing Render State
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLd3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3d3d.cpp
Labels: Graphics

#1572 Cleanup Vestigial Sprite/Background Garbage
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11background.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11sprite.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9background.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9sprite.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLbackground.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLsprite.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3background.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3sprite.cpp
Labels: Graphics

#1573 Cleanup DirectSound Warnings
  ENIGMAsystem/SHELL/Audio_Systems/DirectSound/DSbasic.cpp
  ENIGMAsystem/SHELL/Audio_Systems/DirectSound/DSsystem.cpp
  ENIGMAsystem/SHELL/Audio_Systems/DirectSound/SoundResource.h
Labels: Audio, Warning

#1575 Update OpenGL1 System Description
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/Info/About.ey
Labels: Documentation, Graphics

#1577 Update OpenAL System Description
  ENIGMAsystem/SHELL/Audio_Systems/OpenAL/Info/About.ey
Labels: Audio, Documentation

#1579 Add Direct3D11 Support for MSAA
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D11.cpp
Labels: Graphics

#1580 Cleanup Redundant MSAA State Definitions
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL1/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Cocoa-OpenGL3/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D11.cpp
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D9.cpp
  ENIGMAsystem/SHELL/Bridges/None-None/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/Win32-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/xlib-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Platforms/General/PFwindow.cpp
Labels: Bridges, Graphics, Platforms

#1582 Cleanup & Fix SDL's OpenGL Bridge Context
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL1/Makefile
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL1/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL3/Makefile
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL3/graphics_bridge.cpp
Labels: Bridges, Bug, Graphics

#1584 Remove SDL Default Window Caption
  ENIGMAsystem/SHELL/Bridges/SDL-Direct3D/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL/graphics_bridge.cpp
Labels: Bridges, Platforms

#1589 Fix libegm Protos Include Directory
  CommandLine/libEGM/CMakeLists.txt
  CommandLine/libEGM/Makefile
  CommandLine/libEGM/egm-rooms.h
  CommandLine/libEGM/egm.h
  CommandLine/libEGM/gmk.h
  CommandLine/libEGM/gmx.h
  CommandLine/libEGM/yyp.h
Labels: Asset Pipeline, Compile

#1592 Cleanup SDL Window Init & Add Game Settings
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D11.cpp
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D9.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-Direct3D/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Bridges/SDL-OpenGL/graphics_bridge.cpp
  ENIGMAsystem/SHELL/Platforms/SDL/Window.cpp
Labels: Platforms

#1596 Cleanup Universal System Warnings
  ENIGMAsystem/SHELL/Universal_System/Extensions/MotionPlanning/motion_planning_struct.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/Paths/pathstruct.cpp
  ENIGMAsystem/SHELL/Universal_System/resource_data.cpp
  ENIGMAsystem/SHELL/Universal_System/roomsystem.cpp
  ENIGMAsystem/SHELL/Universal_System/var_array.cpp
  ENIGMAsystem/SHELL/Universal_System/zlib.cpp
Labels: Universal System, Warning

#1597 Cleanup Win32 Warnings
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWSjoystick.cpp
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWSsystem.cpp
Labels: Platforms, Warning

#1598 Cleanup SDL Warnings & Joystick Whitespace
  ENIGMAsystem/SHELL/Platforms/SDL/Joystick.cpp
Labels: Platforms, Warning

#1599 Cleanup Windows Widgets Warnings
  ENIGMAsystem/SHELL/Widget_Systems/Win32/gtklike.h
  ENIGMAsystem/SHELL/Widget_Systems/Win32/widgets.cpp
Labels: Warning, Widgets, Windows

#1601 Cleanup Object Warnings
  CompilerSource/compiler/components/write_object_data.cpp
  ENIGMAsystem/SHELL/Universal_System/instance_system.cpp
  ENIGMAsystem/SHELL/Universal_System/object.cpp
Labels: Instances, Objects, Warning

#1590 Implement `execute_shell_for_output` and `string_split`.
  CommandLine/testing/SimpleTests/string_test.sog/create.edl
  ENIGMAsystem/SHELL/Platforms/General/PFmain.h
  ENIGMAsystem/SHELL/Platforms/General/POSIX/Utility.cpp
  ENIGMAsystem/SHELL/Universal_System/estring.cpp
  ENIGMAsystem/SHELL/Universal_System/estring.h
Labels: Platforms, Strings

#1618 Cleanup Event Proto & Rename to Action Proto
  CommandLine/libEGM/action.h
  CompilerSource/compiler/components/write_defragged_events.cpp
  shared/protos/Action.proto
  shared/protos/Object.proto
  shared/protos/Timeline.proto
Labels: Asset Pipeline, Compile, Warning

#1634 Fix FreeType Extension DPI
  ENIGMAsystem/SHELL/Universal_System/Extensions/ttf/ttf.cpp
Labels: Extensions

#1641 Cleanup Direct3D9 Swap Chain
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D9.cpp
Labels: Graphics

#1645 Direct3D9 Fatal Display Reset
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D9.cpp
Labels: Bridges, Graphics

#1646 Cleanup Direct3D Bridges
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D11.cpp
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D9.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11d3d.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11shader.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/Direct3D11Headers.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DIRECTX9Std.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/Direct3D9Headers.h
Labels: Bridges, Graphics

#1647 Direct3D9 State Reset
  ENIGMAsystem/SHELL/Bridges/General/Win32-Direct3D9.cpp
Labels: Bridges, Graphics

#1600 fixed a couple things with get_directory()
  ENIGMAsystem/SHELL/Widget_Systems/Cocoa/dialogs.cpp
  ENIGMAsystem/SHELL/Widget_Systems/KDialog/dialogs.cpp
  ENIGMAsystem/SHELL/Widget_Systems/Win32/dialogs.cpp
  ENIGMAsystem/SHELL/Widget_Systems/Zenity/dialogs.cpp
Labels: Widgets

#1650 List Sorting & Data Structures CI Test
  CommandLine/testing/SimpleTests/data_structure_test.sog/create.edl
  CommandLine/testing/SmallTests.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/DataStructures/data_structures.cpp
Labels: Continuous Integration, Extensions, Universal System

#1619 remove room vlas
  CompilerSource/compiler/components/write_object_data.cpp
  CompilerSource/compiler/components/write_room_data.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GStiles.cpp
  ENIGMAsystem/SHELL/Universal_System/instance_system.cpp
  ENIGMAsystem/SHELL/Universal_System/object.cpp
  ENIGMAsystem/SHELL/Universal_System/object.h
  ENIGMAsystem/SHELL/Universal_System/roomsystem.cpp
  ENIGMAsystem/SHELL/Universal_System/roomsystem.h
Labels: Compatibility, Compiler, Universal System

#1655 Error Dialog Debug Stack Formatting
  ENIGMAsystem/SHELL/Universal_System/debugscope.cpp
  ENIGMAsystem/SHELL/Widget_Systems/Win32/dialogs.cpp
Labels: Universal System, Widgets
