Repository enigma-dev/enigma-dev, pull requests merged in 2019-05, with the labels that each got.

#1694 Rename DS Map Overwrite
  ENIGMAsystem/SHELL/Universal_System/Extensions/Asynchronous/ASYNCdialog.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/DataStructures/data_structures.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/DataStructures/include.h
Labels: Bug, Extensions, Reproducible, Universal System

#1696 Cleanup OpenGL Headers
  ENIGMAsystem/SHELL/Bridges/OpenGL/OpenGLHeaders.h
  ENIGMAsystem/SHELL/Bridges/OpenGLES/OpenGLHeaders.h
Labels: Graphics

#1697 Add DS Map Tests to CI
  CommandLine/testing/SimpleTests/data_structure_test.sog/create.edl
  ENIGMAsystem/SHELL/Universal_System/Extensions/DataStructures/data_structures.cpp
Labels: Continuous Integration, Extensions, Universal System

#1698 Add DS Stack Tests To CI
  CommandLine/testing/SimpleTests/data_structure_test.sog/create.edl
Labels: Continuous Integration, Extensions, Universal System

#1699 Add DS Queue Tests To CI
  CommandLine/testing/SimpleTests/data_structure_test.sog/create.edl
Labels: Continuous Integration, Extensions, Universal System

#1701 Add DS Priority Tests To CI
  CommandLine/testing/SimpleTests/data_structure_test.sog/create.edl
  ENIGMAsystem/SHELL/Universal_System/Extensions/DataStructures/data_structures.cpp
Labels: Continuous Integration, Extensions, Universal System

#1702 Add DS Grid Tests To CI
  CommandLine/testing/SimpleTests/data_structure_test.sog/create.edl
Labels: Continuous Integration, Extensions, Universal System

#1676 Rewrite Variant With New Templates
  CommandLine/testing/SimpleTests/var_test.sog/create.edl
  ENIGMAsystem/SHELL/Collision_Systems/Precise/PRECfuncs.cpp
  ENIGMAsystem/SHELL/Collision_Systems/Precise/PRECimpl.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/DataStructures/data_structures.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/ParticleSystems/PS_particle_emitter.cpp
  ENIGMAsystem/SHELL/Universal_System/actions.h
  ENIGMAsystem/SHELL/Universal_System/generic_args.h
  ENIGMAsystem/SHELL/Universal_System/graphics_object.cpp
  ENIGMAsystem/SHELL/Universal_System/graphics_object.h
  ENIGMAsystem/SHELL/Universal_System/lives.cpp
  ENIGMAsystem/SHELL/Universal_System/lives.h
  ENIGMAsystem/SHELL/Universal_System/lua_table.h
  ENIGMAsystem/SHELL/Universal_System/mathnc.cpp
  ENIGMAsystem/SHELL/Universal_System/mathnc.h
  ENIGMAsystem/SHELL/Universal_System/multifunction_variant.cpp
  ENIGMAsystem/SHELL/Universal_System/multifunction_variant.h
  ENIGMAsystem/SHELL/Universal_System/reflexive_types.cpp
  ENIGMAsystem/SHELL/Universal_System/reflexive_types.h
  ENIGMAsystem/SHELL/Universal_System/roomsystem.cpp
  ENIGMAsystem/SHELL/Universal_System/roomsystem.h
  ENIGMAsystem/SHELL/Universal_System/switch_stuff.h
  ENIGMAsystem/SHELL/Universal_System/var4.cpp
  ENIGMAsystem/SHELL/Universal_System/var4.h
  ENIGMAsystem/SHELL/Universal_System/var_te.h
  ENIGMAsystem/SHELL/Widget_Systems/None/nowidget_impl.cpp
  ENIGMAsystem/SHELL/libEGMstd.cpp
Labels: Universal System

#1704 Draw Batch & Vertex Submit Mixing Fix
  CommandLine/testing/Tests/draw_test.sog/create.edl
  CommandLine/testing/Tests/draw_test.sog/draw.edl
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSprimitives.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSprimitives.h
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSstdraw.cpp
Labels: Continuous Integration, Graphics

#1706 Random Determinism Fix & Test
  CommandLine/testing/SimpleTests/math_test.sog/create.edl
  CommandLine/testing/SimpleTests/random_test.sog/create.edl
  ENIGMAsystem/SHELL/Universal_System/random.cpp
Labels: Universal System

#1707 Primitive Format Specifying
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSprimitives.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSprimitives.h
Labels: Graphics

#1708 Organize Universal Tiers
  CompilerSource/compiler/components/write_object_data.cpp
  ENIGMAsystem/SHELL/Collision_Systems/BBox/BBOXfuncs.cpp
  ENIGMAsystem/SHELL/Collision_Systems/BBox/BBOXimpl.cpp
  ENIGMAsystem/SHELL/Collision_Systems/BBox/BBOXimpl.h
  ENIGMAsystem/SHELL/Collision_Systems/BBox/BBOXutil.cpp
  ENIGMAsystem/SHELL/Collision_Systems/BBox/BBOXutil.h
  ENIGMAsystem/SHELL/Collision_Systems/Precise/PRECfuncs.cpp
  ENIGMAsystem/SHELL/Collision_Systems/Precise/PRECimpl.cpp
  ENIGMAsystem/SHELL/Collision_Systems/Precise/PRECimpl.h
  ENIGMAsystem/SHELL/ENIGMAengine.cbp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSsprite.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.cpp
  ENIGMAsystem/SHELL/SHELLmain.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/Alarms/alarmcode.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/MotionPlanning/mp_movement.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/ParticleSystems/PS_actions.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/Paths/path_functions.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/StudioPhysics/SB2Dinstances.cpp
  ENIGMAsystem/SHELL/Universal_System/Makefile
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/collisions_object.cpp
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/collisions_object.h
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/graphics_object.cpp
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/graphics_object.h
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/object.cpp
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/object.h
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/planar_object.cpp
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/planar_object.h
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/timelines_object.cpp
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/timelines_object.h
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/transform_object.cpp
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/transform_object.h
  ENIGMAsystem/SHELL/Universal_System/instance.cpp
  ENIGMAsystem/SHELL/Universal_System/instance.h
  ENIGMAsystem/SHELL/Universal_System/instance_planar.cpp
  ENIGMAsystem/SHELL/Universal_System/instance_system.h
  ENIGMAsystem/SHELL/Universal_System/instance_system_base.h
  ENIGMAsystem/SHELL/Universal_System/loading.cpp
  ENIGMAsystem/SHELL/Universal_System/move_functions.cpp
  ENIGMAsystem/SHELL/Universal_System/roomsystem.cpp
  ENIGMAsystem/SHELL/Universal_System/roomsystem.h
  ENIGMAsystem/SHELL/Universal_System/spritestruct.cpp
  ENIGMAsystem/SHELL/Widget_Systems/Cocoa/dialogs.cpp
  ENIGMAsystem/SHELL/Widget_Systems/DlgMod/dialogs.cpp
  ENIGMAsystem/SHELL/Widget_Systems/KDialog/dialogs.cpp
  ENIGMAsystem/SHELL/Widget_Systems/Win32/dialogs.cpp
  ENIGMAsystem/SHELL/Widget_Systems/Zenity/dialogs.cpp
Labels: Universal System

#1709 Organize Universal Instance System
  ENIGMAsystem/SHELL/Collision_Systems/BBox/BBOXfuncs.cpp
  ENIGMAsystem/SHELL/Collision_Systems/BBox/BBOXimpl.cpp
  ENIGMAsystem/SHELL/Collision_Systems/BBox/BBOXutil.cpp
  ENIGMAsystem/SHELL/Collision_Systems/General/CSfuncs.h
  ENIGMAsystem/SHELL/Collision_Systems/Precise/PRECfuncs.cpp
  ENIGMAsystem/SHELL/Collision_Systems/Precise/PRECimpl.cpp
  ENIGMAsystem/SHELL/Collision_Systems/actions.h
  ENIGMAsystem/SHELL/ENIGMAengine.cbp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSsprite.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/actions.h
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.cpp
  ENIGMAsystem/SHELL/Platforms/Win32/WINDOWScallback.cpp
  ENIGMAsystem/SHELL/SHELLmain.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/Alarms/alarmcode.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/Asynchronous/ASYNCdialog.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/Box2DPhysics/B2Dfunctions.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/MotionPlanning/actions.h
  ENIGMAsystem/SHELL/Universal_System/Extensions/MotionPlanning/mp_movement.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/ParticleSystems/PS_actions.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/ParticleSystems/PS_particle_updatedraw.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/Paths/path_functions.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/StudioPhysics/SB2Dfunctions.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/StudioPhysics/SB2Dinstances.cpp
  ENIGMAsystem/SHELL/Universal_System/Extensions/StudioPhysics/SB2Dinstances.h
  ENIGMAsystem/SHELL/Universal_System/Instances/callbacks_events.cpp
  ENIGMAsystem/SHELL/Universal_System/Instances/callbacks_events.h
  ENIGMAsystem/SHELL/Universal_System/Instances/instance.cpp
  ENIGMAsystem/SHELL/Universal_System/Instances/instance.h
  ENIGMAsystem/SHELL/Universal_System/Instances/instance_create.h
  ENIGMAsystem/SHELL/Universal_System/Instances/instance_iterator.h
  ENIGMAsystem/SHELL/Universal_System/Instances/instance_planar.cpp
  ENIGMAsystem/SHELL/Universal_System/Instances/instance_system.cpp
  ENIGMAsystem/SHELL/Universal_System/Instances/instance_system.h
  ENIGMAsystem/SHELL/Universal_System/Instances/instance_system_base.h
  ENIGMAsystem/SHELL/Universal_System/Instances/instance_system_frontend.h
  ENIGMAsystem/SHELL/Universal_System/Instances/with.h
  ENIGMAsystem/SHELL/Universal_System/Makefile
  ENIGMAsystem/SHELL/Universal_System/Object_Tiers/object.cpp
  ENIGMAsystem/SHELL/Universal_System/actions.h
  ENIGMAsystem/SHELL/Universal_System/depth_draw.h
  ENIGMAsystem/SHELL/Universal_System/move_functions.cpp
  ENIGMAsystem/SHELL/Universal_System/roomsystem.cpp
  ENIGMAsystem/SHELL/Universal_System/spritestruct.cpp
  ENIGMAsystem/SHELL/Widget_Systems/None/nowidget_impl.cpp
Labels: Instances, Universal System

#1710 Mac Travis Fix
  CommandLine/emake/Makefile
  CompilerSource/Makefile
  Makefile
Labels: Compiler

#1713 Fix Room Background Y Scale
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSscreen.cpp
Labels: Graphics, Room Editor

#1714 File I/O Tests
  CommandLine/testing/SimpleTests/file_input_output.sog/create.edl
  ENIGMAsystem/SHELL/Platforms/General/POSIX/POSIXfilemanip.cpp
  ENIGMAsystem/SHELL/Universal_System/estring.cpp
  ENIGMAsystem/SHELL/Universal_System/fileio.cpp
Labels: Compatibility, Continuous Integration, Strings, Universal System

#1716 Data Structure Duplicate Tests
  CommandLine/testing/SimpleTests/data_structure_test.sog/create.edl
Labels: Continuous Integration, Extensions, Universal System

#1717 File Text Read Line Return
  CommandLine/testing/SimpleTests/file_input_output.sog/create.edl
  ENIGMAsystem/SHELL/Universal_System/fileio.cpp
  ENIGMAsystem/SHELL/Universal_System/fileio.h
Labels: Universal System

#1718 Miscellaneous Data Structure Tests
  CommandLine/testing/SimpleTests/data_structure_test.sog/create.edl
  ENIGMAsystem/SHELL/Universal_System/Extensions/DataStructures/data_structures.cpp
Labels: Continuous Integration, Extensions, Universal System

#1719 File Text Write Line Overload
  CommandLine/testing/SimpleTests/file_input_output.sog/create.edl
  ENIGMAsystem/SHELL/Universal_System/fileio.cpp
  ENIGMAsystem/SHELL/Universal_System/fileio.h
Labels: Universal System

#1648 Generic Texture Transfer
  CommandLine/testing/Tests/draw_test.sog/create.edl
  CommandLine/testing/Tests/draw_test.sog/draw.edl
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11textures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9textures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GStextures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLtextures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3textures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/graphics_mandatory.h
  ENIGMAsystem/SHELL/Universal_System/Resources/backgroundstruct.cpp
  ENIGMAsystem/SHELL/Universal_System/Resources/fontstruct.cpp
  ENIGMAsystem/SHELL/Universal_System/Resources/spritestruct.cpp
Labels: Graphics

#1725 Generic Screen Transfer
  CommandLine/testing/Tests/draw_test.sog/create.edl
  CommandLine/testing/Tests/draw_test.sog/draw.edl
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11draw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/Direct3D11Headers.h
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9draw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9textures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.h
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL/GLtextures.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLstdraw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3stdraw.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/graphics_mandatory.h
Labels: Graphics

#1724 Disable Server Protobuf Fixes
  CommandLine/emake/EnigmaCallbacks.hpp
  shared/protos/Makefile
  shared/protos/compiler.proto
  shared/protos/server.proto
Labels: Asset Pipeline, Dependencies, Error, Install

#1728 Fix Flipped for libpng Extension Saving
  ENIGMAsystem/SHELL/Universal_System/Extensions/libpng/libpng-ext.cpp
Labels: Bug, Confirmed, Extensions, Graphics, Reproducible, Universal System

#1726 Cleanup None Graphics
  ENIGMAsystem/SHELL/Graphics_Systems/None/NONEStd.h
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.h
  ENIGMAsystem/SHELL/Graphics_Systems/None/include.h
Labels: Graphics

#1731 Screen Viewport Cleanup
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D11/DX11screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/Direct3D9/DX9screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSscreen.h
  ENIGMAsystem/SHELL/Graphics_Systems/None/fillin.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL/GLscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLscreen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL1/GLsurface.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3screen.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/OpenGL3/GL3surface.cpp
  ENIGMAsystem/SHELL/Graphics_Systems/graphics_mandatory.h
Labels: Graphics

#1730 Blend States CI Test
  CommandLine/testing/Tests/draw_blend_test.cpp
  CommandLine/testing/Tests/draw_blend_test.sog/create.edl
  CommandLine/testing/Tests/draw_blend_test.sog/draw.edl
  ENIGMAsystem/SHELL/Graphics_Systems/General/GSsprite.cpp
Labels: Continuous Integration, Graphics

#1735 Fix 32 bit MinGW FFI Include Directory
  Compilers/Windows/gcc.ey
  ENIGMAsystem/SHELL/Platforms/Win32/Makefile
Labels: Compiler, Confirmed, Error, Reproducible
